<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <script
      src="https://kit.fontawesome.com/d7175e3354.js"
      crossorigin="anonymous"
    ></script>
    <title>Mercado Liebre</title>
  </head>

  <body>
    <header class="main-header">
      <div class="top-bar">
        <a href="/" class="logo"
          ><img src="./images/logo-mercado-liebre.svg" class="logo"
        /></a>

        <form action="" class="search">
          <input type="text" name="" placeholder="Buscar productos, marcas" />
          <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>

        <h2 class="copy-header">
          <i class="fa-solid fa-hand-holding-dollar"></i>
          Comprá en cuotas y sin tarjeta de crédito
        </h2>
      </div>

      <a href="#" class="hamburguer-button">
        <i class="fa-solid fa-bars"></i>
      </a>

      <nav class="main-navbar">
        <ul class="left-navbar">
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
        <ul class="right-navbar">
          <li>
            <a href="/register"
              >Creá tu cuenta <i class="fa-solid fa-credit-card"></i
            ></a>
          </li>
          <li>
            <a href="login"
              >Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i
            ></a>
          </li>
          <li>
            <a href="">Mis compras <i class="fa-solid fa-cart-shopping"></i></a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="forms">
        <h2>Crea tu cuenta</h2>
        <form action="/">
          <div>
            <input type="text" name="nombre" placeholder="Nombre y apellido" />
          </div>
          <div>
            <input type="text" name="usuario" placeholder="Nombre de usuari@" />
          </div>
          <div>
            <h4>Fecha de nacimiento</h4>
            <input type="date" name="fecha" placeholder="aaa" />
          </div>
          <div>
            <input type="text" name="domicilio" placeholder="Domicilio" />
          </div>
          <div>
            <h4>Perfil de usuario</h4>
            <label for="perfil-comprador">
              <input
                type="radio"
                name="perfil"
                value="Comprador"
                id="perfil-comprador"
              />
              Comprador
            </label>
            <label for="perfil-vendedor">
              <input
                type="radio"
                name="perfil"
                value="vendedor"
                id="perfil-vendedor"
              />
              Vendedor
            </label>
          </div>
          <div class="input-categorias">
            <h4>Categorias de interes</h4>
            <label for="intereses-electro">
              <input
                type="checkbox"
                name="intereses"
                value="electro"
                id="intereses-electro"
              />
              Electro
            </label>
            <label for="intereses-moda">
              <input
                type="checkbox"
                name="intereses"
                value="moda"
                id="intereses-moda"
              />
              Moda
            </label>
            <label for="intereses-hogar">
              <input
                type="checkbox"
                name="intereses"
                value="hogar"
                id="intereses-hogar"
              />
              Hogar
            </label>
            <label for="intereses-jugueteria">
              <input
                type="checkbox"
                name="intereses"
                value="jugueteria"
                id="intereses-jugueteria"
              />
              Jugueteria
            </label>
            <label for="intereses-vidasana">
              <input
                type="checkbox"
                name="intereses"
                value="vidasana"
                id="intereses-vidasana"
              />
              Vida Sana
            </label>
          </div>

          <div>
            <h4>Foto de usuario</h4>
            <input type="file" name="foto" />
          </div>
          <div>
            <input type="password" placeholder="Contrasena" />
          </div>
          <div>
            <input type="password" placeholder="Confirmar contrasena" />
          </div>

          <div class="botones">
            <input type="submit" value="Enviar" />
            <input type="reset" value="Borrar" />
          </div>
        </form>
      </div>
    </main>

    <footer>
      <div>
        <i class="fa-solid fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>
          Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
          efectivo en puntos de pago. ¡Y siempre es seguro!
        </p>
      </div>
      <div>
        <i class="fa-solid fa-gift"></i>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </div>
      <div>
        <i class="fa-solid fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p>
          ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
      </div>
      <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
