* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto";
}
a {
  text-decoration: none;
  color: inherit;
}
/*
colores 
    Amarillo: #EAC926;
    Azul: #03264C;
  background-color: #ebebeb;
  color: #666;
}
/* header */
.main-header {
  background-color: #eac926;
  padding: 20px;
}

.main-header .top-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main-header .logo {
  flex-basis: 48%;
}
.main-header .logo img {
  max-width: 300px;
}
.main-header .top-bar .copy-header {
  flex-basis: 100%;
  font-weight: 400;
  text-align: center;
  padding: 12px;
  font-size: 14px;
}

.main-header .search {
  position: relative;
  flex-basis: 50%;
  text-align: right;
}
.main-header .top-bar input {
  padding: 5px;
  border: 0;
  border-radius: 5px;
  font-size: 12px;
  width: 100%;
}
.main-header .top-bar button {
  position: absolute;
  background-color: #fff;
  color: #666;
  border: 0;
  right: 5px;
  top: 6px;
  font-size: 12px;
}
  
}
/*  */
.main-header .hamburguer-button {
  background-color: #03264c;
  color: white;
  display: block;
  max-width: 50px;
  padding: 15px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  margin: auto;
}
.main-header .main-navbar {
  display: none;
}
.main-header .main-navbar ul {
  list-style: none;
  margin: 0%;
  padding: 0%;
}
.main-header .main-navbar a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 5px, 0;
  font-size: 15px;
}

@media (min-width: 768px) {
  .main-header .top-bar .copy-header {
    text-align: right;
    font-size: 16px;
  }
  .main-header .top-bar .copy-header,
  .main-header .logo,
  .main-header .search {
    flex-basis: 32%;
  }

  .main-header .hamburguer-button {
    display: none;
  }
  .main-header .main-navbar {
    display: flex;
    justify-content: space-between;
  }

  .main-header .main-navbar ul {
    display: flex;
  }

  .main-header .main-navbar li {
    margin: 10px;
  }
}

@media (min-width: 1200px) {
  .main-header .logo {
    width: 250px;
  }
  .main-header .top-bar,
  .main-header .main-navbar {
    max-width: 1200px;
    margin: auto;
  }
  .main-header .top-bar {
    align-items: center;
  }
  .main-header .main-navbar a {
    font-size: 17px;
    margin-top: 30px;
  }
}

/**/
main {
  width: 90%;
  margin: 0 auto;
}

.product-container h3 {
  padding: 30px 0;
  font-size: 24px;
  margin-bottom: 10px;
  color: #666;
}

.product {
  margin-bottom: 25px;
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.5);
  position: relative;
}
.product:hover {
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.7);
}

.product img {
  width: 100%;
  padding: 20px;
}

.product .product-info {
  /* display: flex;
  justify-content: flex-start; */
  background-color: #fff;
  padding: 25px;
  border-top: 1px solid #ebebeb;
  position: relative;
}
.product .product-info i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  color: #39b54a;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  z-index: 50;
  right: 20px;
  top: -15px;
  /* transform: rotateZ(); */
  transition: all 350ms;
}
.product .product-info i:hover {
  transform: rotateZ(-90deg);
}
.product .product-info .price-box {
  display: flex;
}
.product .product-info .price {
  font-size: 18px;
  line-height: 20px;
  flex-grow: 0.3;
}
.product .product-info .discount {
  font-size: 16px;
  line-height: 20px;
  color: #39b54a;
  flex-grow: 0.7;
}
.product .product-info h5 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 20px;
  opacity: 0;
  transition: all 0.1s;
}
.product .product-info h5:hover {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .product-container article {
    flex-basis: 48%;
  }
  .product-container h3 {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .product-container article {
    flex-basis: 24%;
  }
}

/* forms */
.forms {
  padding: 60px 0;
  margin: 0 auto;
  max-width: 400px;
}
.forms h2 {
  margin-bottom: 30px;
  text-align: center;
}

.forms div {
  margin-bottom: 12px;
}
.forms div h4 {
  margin-bottom: 7px;
}
.forms input {
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 5px;
}
.forms input[type="checkbox"],
.forms input[type="radio"] {
  width: auto;
}
.forms .input-categorias label {
  display: block;
  margin-bottom: 5px;
}
.forms .botones input {
  background-color: #03264c;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.forms .botones input:hover {
  background-color: #0022aa;
}

/* footer */
footer {
  text-align: center;
  padding: 60px 80px 40px 80px;
  background-color: #fff;
}

footer div {
  margin-bottom: 20px;
}
footer i {
  color: #03264c;
  font-size: 30px;
  transition: 0.5s all;
}
footer i:hover {
  color: #39b54a;
}
footer h4 {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
}

footer p {
  margin-bottom: 12px;
}

.copyright {
  text-align: left;
  font-size: 10px;
  margin-top: 24px;
  margin-bottom: 0;
  margin-left: -40px;
}

@media screen and (min-width: 1200px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  footer div {
    flex-basis: 32%;
  }
  footer .copyright {
    flex-basis: 100%;
  }
}